<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>186778114188-46psdegq4kp830or4to6qie1lf2dt2ji.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.186778114188-46psdegq4kp830or4to6qie1lf2dt2ji</string>
	<key>API_KEY</key>
	<string>AIzaSyDLbKnXsL9wGrMey3Ae16MvGx-aCd3Q_Bw</string>
	<key>GCM_SENDER_ID</key>
	<string>186778114188</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emikoclark.Natural-Remedies</string>
	<key>PROJECT_ID</key>
	<string>natural-remedies</string>
	<key>STORAGE_BUCKET</key>
	<string>natural-remedies.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:186778114188:ios:879cd8cc78f30efd</string>
	<key>DATABASE_URL</key>
	<string>https://natural-remedies.firebaseio.com</string>
</dict>
</plist>